{% extends 'base.html' %}

{% block title %}
Заявки
{% endblock %}

{% block body %}
<html>
<head>
    <title>Заявки</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="container">
        <div class="table-container">
            <h1>Заявки</h1>

            <div class="search-form">
                <form action="{{ url_for('search') }}" method="POST">
                    <input class="search-input" type="text" name="search_query" placeholder="Поиск..." required>
                    <button class="search-button" type="submit">Найти</button>
                </form>
            </div>

            <table>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Email</th>
                    <th>Действия</th>
                </tr>
                {% for request in requests %}
                <tr>
                    <td>{{ request.id }}</td>
                    <td>{{ request.name }}</td>
                    <td>{{ request.surname }}</td>
                    <td>{{ request.email }}</td>
                    <td>
                        <a href="/update/{{ request.id }}">Редактировать</a>
                        <a href="/delete/{{ request.id }}">Удалить</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="form-container">
            <h3>Добавление</h3>
            <form action="/create" method="POST">
                <label for="name">Имя:</label>
                <input type="text" name="name" id="name" required>
                <label for="surname">Фамилия:</label>
                <input type="text" name="surname" id="surname" required>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
                <div class="form-actions">
                    <input class="submit-button" type="submit" value="Отправить">
                    <form action="{{ url_for('export') }}" method="GET">
                        <button class="export-button" type="submit">Экспортировать в Excel</button>
                    </form>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
{% endblock %}
