{% extends 'base.html' %}

{% block title %}
Crud Студенты
{% endblock %}

{% block body %}
<html>
<head>
    <title>Студенты</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="table-container">
            <h1>Студенты</h1>

            <div class="search-form">
                <form action="{{ url_for('search_students') }}" method="POST">
                    <input class="search-input" type="text" name="search_query" placeholder="Поиск..." required>
                    <button class="search-button" type="submit">Найти</button>
                </form>
            </div>

            <table style="width: 100%;">
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Курс</th>
                    <th>Мессенджеры</th>
                    <th>Действия</th>
                </tr>
                {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.surname }}</td>
                    <td>
                        {% for course in courses %}
                            {% if course.course_id == student.course_id %}
                                {{ course.name }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ student.messengers }}</td>
                    <td>
                        <a href="/update/student/{{ student.student_id }}">Редактировать</a>
                        <a href="/delete/student/{{ student.student_id }}">Удалить</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="form-container">
            <h3>Добавление</h3>
            <form action="/create/student" method="POST">
                <label for="name">Имя:</label>
                <input type="text" name="name" id="name" required>
                <label for="surname">Фамилия:</label>
                <input type="text" name="surname" id="surname" required>
                <br>
                    <label for="course_id">Курс:</label>
                    <select name="course_id" id="course_id" required>
                        {% for course in courses %}
                            <option value="{{ course.course_id }}">{{ course.name }}</option>
                        {% endfor %}
                    </select>
                <br>
                <label for="messengers">Мессенджеры:</label>
                <input type="text" name="messengers" id="messengers" required>
                <div class="form-actions">
                    <input class="submit-button" type="submit" value="Отправить">
                </div>
            </form>
            <form class="export-form" action="{{ url_for('export_students') }}" method="GET">
                <button class="export-button" type="submit">Экспортировать в Excel</button>
            </form>
        </div>
    </div>
</body>
</html>
{% endblock %}
