
<!DOCTYPE html>
<html>
<head>
    <title>Редактирование курса</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <h1>Редактирование курса</h1>
        <form action="{{ url_for('update_course', course_id=course.course_id) }}" method="POST">
            <label for="name">Название:</label>
            <input type="text" name="name" id="name" value="{{ course.name }}" required>
            <br>
            <input type="submit" value="Обновить">
        </form>
    </div>
</body>
</html>