<!DOCTYPE html>
<html>
<head>
    <title>Редактирование статуса</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <h1>Редактирование статуса</h1>
        <form action="{{ url_for('update_status', status_id=status.status_id) }}" method="POST">
            <label for="name">Название:</label>
            <input type="text" name="name" id="name" value="{{ status.name }}" required>
            <br>
            <input type="submit" value="Обновить">
        </form>
    </div>
</body>
</html>
